<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Space invaders</title>
</head>
<body>

    <div class = "flex justify-center gap-10 mt-8">
        <div id = "comentarios" class = "max-h-[500px] w-[300px] overflow-y-auto">
        </div>
        <canvas id = "canvas" width="512" height="512" style = "background-color: black;"></canvas>
        <div>
            <p class = "text-white" id = "vidas"></p>
            <p class = "text-white" id = "nivel"></p>
            <p class = "text-white" id = "municion"></p>
            <p class = "text-white" id = "victorias"></p>
            <p class = "text-white" id = "derrotas"></p>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src = "./js/app.js"></script>
</body>
</html>